<div class="modal-header">
  <h4 class="modal-title">Getting started managing your token sale</h4>
</div>
<div class="modal-body">
  <p>The token dashboard is where you can easily view and manage your token sales.</p>
  <p>Here are some tips to get you started:</p>
  <div class="sink-1">
    <ol>
      <li>Click the <div class="sprite sprite-contract inline-block"></div> icon to view and share your contract (token sale) address so investors of your token sale can participate and buy-in to your sale.</li>
      <li>Click the <div class="sprite sprite-qrcode inline-block"></div> icon to view and share your wallet address to be able to receive tokens and Ether outside of your sale.</li>
    </ol>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close()">Let's Go!</button>
</div>
