.no-tokens-container {
  min-height: 50rem;
  .sprite-empty-state, p {
    margin-bottom: 2rem;
  }
  h3 {
    margin-bottom: 1rem;
    font-family: 'BarlowSemiCondensed-Medium';
    color: #495056;
    font-size: 2.4rem;
    text-transform: none;
  }
}
