section {
  width: 100%;
  height: 100vh;
  min-height: 50rem;
  background: url('/assets/images/login-bg.png') center no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  .inner {
    width: 100%;
    height: 100vh;
    min-height: 50rem;
    background: rgba(26,26,26,0.8);
  }
  .center-container {
    width: 25%;
    min-width: 40rem;
  }
  .login-logo {
    margin-bottom: 2rem;
    text-align: center;
  }
  .login-form {
    padding: 3rem;
    input[type=text], input[type=text].form-control, 
    input[type=password], input[type=password].form-control {
      margin-bottom: 2rem;
      background: rgba(255,255,255,0.25);
      color: #fff;
      border: none;
      border-radius: 0;
      padding: 1rem 2rem;
      &:hover, &:active, &:focus {
        border: none;
        border-radius: 0;
        outline: 0 none;
        box-shadow: none;
      }
    }
    button {
      text-transform: uppercase;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fff !important;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #fff !important;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
      color: #fff !important;
    }
  }
  .login-footer {
    padding: 1.5rem 3rem;
    text-align: center;
    small {
      font-size: 1.2rem;
      color: #9ca3ad;
    }
  }
}
